name: CI - Spring Boot

on:
  push:
    branches: [ main, '**' ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    services:
      mongo:
        image: mongo:7.0
        ports:
          - 27017:27017
        options: --bind_ip_all

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Up Java
        uses: actions/setup-java@v4
        with:
          java-version: "23"
          distribution: "temurin"
          cache: maven

      - name: Build with Maven
        run: mvn -B clean verify -Dspring-boot.run.arguments=--debug
        working-directory: back-end/Policyme
