name: CI - Spring Boot

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:7.0
        ports:
          - 27017:27017

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: "23"
          distribution: temurin
          cache: maven

      - name: Build and test
        run: mvn clean verify
        working-directory: back-end/Policyme
